<div class="signin-main">
    <div class="logo">
        <img src="assets/img/slack-logo-brand.png" alt="Slack Clon Logo">
    </div>

    <div class="signin-container" [class.d-none]="userSignedIn || forgotPassword">
        <mat-card>
            <h1>Sign in</h1>
            <!-- <span>Stay connected with your friends and colleagues</span> -->
            <form class="signin-form">
                
                    <div class="input-container" [class.error]="errorMsg">
                        <div class="input">
                            <input type="text" #emailSignIn required>
                            <span class="noselect">Email</span>
                        </div>
                        <div class="input input-pwd">
                            <input type="password" #passwordSignIn required>
                            <span class="noselect">Password</span>
                            <img class="show-pwd noselect" (click)="toggleShowPwd()"
                                [src]="pwdImg">
                        </div>
                    </div>

                    <a (click)="forgotPassword = true;">Forgot password?</a>

                    <div class="errorBox">
                        <mat-error *ngIf="errorMsg">
                            Email or Password invalid!
                        </mat-error>
                    </div>

                    <button (click)="signIn(emailSignIn.value, passwordSignIn.value)" class="noselect">
                        Sign in
                    </button>

                    <span class="signin-test">Test Slack-Clone with 
                        <a (click)="signInAnonymously()">Guest account</a>
                    </span>
              </form>
        </mat-card>
    
        <span class="sign-up">
            New to Slack-Clone? <a href="sign-up">Sign up</a>
        </span>
    </div>

    <!-- ========== VERIFY EMAIL ========== -->
    <div class="signin-container" [class.d-none]="!userSignedIn">
        <mat-card class="verify-container" [class.in-bg]="verificationSended">
            <div class="verify-img-container">
                <div><img src="assets/img/icons/mail.png" alt="Mail Icon" class="noselect"></div>
            </div>
            <h1>Verify your email address</h1>
            <hr>
            <span>
                In order to start using your <strong>Slack-Clone</strong> Account,
                please verify your email address <strong>{{ authentication.getEmail() }}</strong>.
            </span>
            <button (click)="sendVerification()" class="noselect">
                Send Verification Email
            </button>
        </mat-card>

        <div class="verification-sended" [class.d-none]="!verificationSended">
            Verification Email sended <br>
            to <strong>{{ authentication.getEmail() }}</strong>!
        </div>
    </div>

    <!-- ========== FORGOT PASSWORD ========== -->
    <div class="signin-container" [class.d-none]="!forgotPassword">
        <mat-card>
            <h1>Reset your Password</h1>
            <span class="forgot-pw-txt">
                Please provide the email address that you used when you signed up 
                for your account.
            </span>
            
            <form class="signin-form">
                
                    <div class="input-container" [class.error]="errorMsg">
                        <div class="input">
                            <input type="text" #emailSignIn required>
                            <span class="noselect">Email</span>
                        </div>
                    </div>

                    <div class="errorBox">
                        <mat-error *ngIf="errorMsg">
                            Email invalid!
                        </mat-error>
                    </div>

                    <button class="noselect">
                        Reset password
                    </button>
              </form>
        </mat-card>
    
        <span class="sign-up">
            Not forgot your Password?
            <a (click)="forgotPassword = false;" style="text-decoration: underline;">
                Sign in
            </a>
        </span>
    </div>
</div>