// import globale style
@import "src/_globals.scss";

$margin-width: 20px;
$border-default: 1px solid rgba(255,255,255,0.2);

section {
    height: calc(100vh - 4.3rem);
    width: calc(100vw - 21.3rem);
    //margin: 10px 20px;
}

p {
    margin: 0;
}

.users-header {
    height: 3rem;
    width: 100%;
    padding: 8px $margin-width 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #353535;

    p {
        font-size: 18px;
        font-weight: 500;
    }

    button {
        height: 28px;
        min-width: 56px;
        padding: 0px 12px 1px;
        font-size: 13px;
        color: white;
        background: $background-second;
        border: $border-default;
        border-radius: 3px;
        transition: all 80ms linear 0s;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            filter: brightness(1.5);
            //background: #353535;
        }
    }
}

.users-search {
    $padding-site: 8px;

    height: 30px;
    width: calc(100% - ($margin-width / 2));
    margin: 16px $margin-width;
    padding: 0 $padding-site;

    font-size: 16px;
    border-radius: 5px;
    border: $border-default;
    background: $background-second;
    display: flex;
    align-items: center;

    &:hover {
        border: 1px solid rgba(255,255,255,0.6);;
    }

    &:focus-within {
        //border: 1px solid $color-logo-blue;
        border: 1px solid transparent;
        box-shadow: 0 0 0 1px $color-logo-blue, 0 0 0 5px #1d9bd14d;
    }

    i {
        width: 20px;
        cursor: default;
    }

    input {
        height: calc(100% - 4px);
        width: calc(100% - ($padding-site * 2));
        padding: 0 $padding-site;
        background: transparent;
        border: none;
        color: white;
        outline: none;

        &::placeholder {
            color: rgba(255,255,255,0.7);
        }
    }
}

.users-container {
    height: 500px;
    width: 100%;
    margin: 0 $margin-width;
}

.user-container {
    height: 200px;
    width: 50px;
}