<section>
    <div class="users-fixed-container">
        <div class="users-header">
            <p>People</p>
            <button>Invite People</button>
        </div>
        <div (click)="searchUser.focus()" class="users-search">
            <img src="assets/img/icons/search.png" alt="Search Icon">
            <input #searchUser type="text" placeholder="Search by name">
        </div>
        <div class="num-of-users-container"><span>{{ numOfUsers || 0 }} {{ userOrUsersString }} found</span></div>
    </div>

    <div class="users-container emulated-flex-gap">
        <div class="user-container" *ngFor="let user of users">
            <img src="{{ user.photo }}" alt="Profile Photo from {{ user.username }}">
            <div class="username">
                <span>{{ user.username }}</span>
            </div>
        </div>
    </div>
</section>
