// import globale style
@import "src/_globals.scss";

section {
    width: 400px;
    max-width: 100%;
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-photo {
    height: 10rem;
    border-radius: 10%;
}