// import globale style
@import "src/_globals.scss";

// import dialog-show-user
@import "src/app/dialog-show-user/dialog-show-user.component.scss";

h2 {
    margin: 0;
}

input {
    padding: 5px 10px;
    background: none;
    border: 1px solid grey;
    border-radius: 5px;
    width: 65%;
    font-size: 18px;
    color: white;
}

.user-photo img {
    $photo-size: 200px;

    height: $photo-size;
    width: $photo-size;
    margin-bottom: 20px;
}

.username-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-username {
    height: 16px;
    width: 100%;
    color: $color-error;
}

.btn-edit {
    width: 80px;
    height: 25px;

    img {
        height: 15px;
    }
}

.password {
    font-size: 18px;
    color: $color-logo-blue;
    cursor: pointer;

    &:hover {
        color: $color-info;
    }
}

.email-address-and-btn {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
}