<section>
    <div class="container">
        <div class="header">
            <div class="left-items">
                    <mat-icon> {{channel.channelType === 'public' ? 'tag' : 'lock' }}</mat-icon> 
                    <h2>{{channel.channelName}}</h2>
                </div>
                <div class="right-items">
                        <button (click)="openEditDialog('400ms', '400ms')" mat-icon-button>
                             <mat-icon >edit</mat-icon>
                         </button>
                           <button mat-icon-button (click)="openDeleteDialog('400ms', '400ms')">
                             <mat-icon>delete</mat-icon>
                         </button>
                </div>
        </div>

        <div class="main-content">
          Main Content
         
            <div class="post-item" *ngFor="let post of allPosts">
                   <div>{{post.message}}</div>
            </div>
        </div>

        <div class="app-text-edit">
              <app-text-edit></app-text-edit>
        </div>
</div>

</section>


