// import globale style
@import "src/_globals.scss";

section {
    // padding: 0 10% 0 10%;
}

.chat-header{
   width: 100%; 
    padding: 0 4%; 
    position:fixed;
    z-index:10;
    background-color: $background-second;
    height: 3.3rem;
    padding-top:0.2rem;
    display: flex;
    gap:0.5rem;
    align-items: center;
    border-bottom: 1px solid $accent-darkgrey;
    h2{
            margin-block-start: 1em;
    }
}

.chat-content{
       padding: 4.5rem 6% 0 6%;
}



app-text-edit{
    position : fixed;
    bottom: 5px; 
    padding:0 6% 0 6%
}