<section>
    <div class="container">
        <div class="header">
            <div class="left-items">
                    <mat-icon> {{channel.channelType === 'public' ? 'tag' : 'lock' }}</mat-icon> 
                    <h2>{{channel.channelName}}</h2>  
                    <p class="d-none">{{ getPinnedPostCount() }}</p>
                    <mat-icon [matBadge]="pinCount" [matBadgeHidden]="pinCount === 0">push_pin</mat-icon>


                </div>
                <div class="right-items">
                        <button (click)="openEditDialog('400ms', '400ms')" mat-icon-button>
                             <mat-icon >edit</mat-icon>
                         </button>
                           <button mat-icon-button (click)="openDeleteDialog('400ms', '400ms')">
                             <mat-icon>delete</mat-icon>
                         </button>
                </div>
        </div>

        <div class="main-content">
            <div *ngFor="let post of allPosts" class="single-post">
                    <div *ngIf="shouldShowDate(getPreviousPost(post), post)" class="date-container">
                        <div class="show-date">
                             <p>{{ post.timestamp | date: 'dd.MM.yyyy' }}</p>
                        </div>
                     </div>
                     <app-post [post]="post"></app-post>

             </div>


        </div>

        <div class="app-text-edit">
              <app-text-edit></app-text-edit>
        </div>
</div>

</section>


