<div class="wholeDiv">
    <h1>Deinen EchoSphere-Status und deine Verfügbarkeit einstellen</h1>
    <br><br>
    <p>Bei der Arbeit mit EchoSphere ist es oft hilfreich, deinem Team mitzuteilen, wie schnell du auf Nachrichten
        reagieren kannst und wann du verfügbar bist. EchoSphere bietet verschiedene Möglichkeiten, deinen Status zu
        teilen und anderen Teammitgliedern deine Verfügbarkeit anzuzeigen</p>
    <br>

    <p>Dein Status teilt anderen in einer Aussage mit, was du gerade tust. Deine Verfügbarkeit bezieht sich auf den
        Punkt neben deinem Anzeigenamen, der anzeigt, ob du derzeit aktiv in EchoSphere bist.</p>

    <div class="tipp">

        Tipp: <br>
        Als Workspace-Inhaber oder -Administrator erfährst du, wie du die Statusvorschläge individuell anpasst, aus
        denen Mitglieder auswählen können.
    </div>

    <h2>Deinen EchoSphere-Status aktualisieren</h2>
    <p>Wenn du in EchoSphere einen Status festlegst, wird dein Status-Emoji neben deinem Namen angezeigt. Andere
        Mitglieder können dein Status-Emoji überall dort sehen, wo sie deinen vollständigen Namen oder Anzeigenamen
        sehen können. Sie können deinen vollständigen Status entweder in deinem Profil einsehen oder indem sie in der
        Desktop-Version den Cursor über dein Status-Emoji bewegen. Falls du kein Status-Emoji auswählst, wird
        standardmäßig eine 💬 Sprechblase angezeigt.</p>
</div>