<div class="wholeDiv">
    <h1>Direktnachrichten verstehen</h1>
    <br><br>
    <div class="box">
        <p>Wer kann diese Funktion benutzen?</p>
        <p>-Alle Mitglieder und Gäste</p>
        <p>-Verfügbar für alle Pläne</p>
    </div>
    <br><br>
    <h2>Was du wissen solltest</h2>
    <li>Direktnachrichten können entweder zwischen zwei Personen stattfinden oder mit bis zu neun Personen.</li>
    <li>Das Starten und Versenden von Direktnachrichten funktioniert genauso wie das Verfassen einer beliebigen anderen
        Nachricht in EchoSphere.
        Erfahre mehr darüber, wie du Nachrichten senden und lesen kannst..</li>
    <li>Wenn dein Unternehmen EchoSphere Connect nutzt, hast du die Möglichkeit, Direktnachrichten an Personen in
        anderen Unternehmen zu senden..</li>

    <div class="tipp">
        <p> Tipp: <br>In EchoSphere kannst du jederzeit schnell eine neue Direktnachricht starten, indem du auf die
            Schaltfläche 'Nachrichten' klickst oder tippst..</p>
    </div>
</div>