<div class="wholeDiv">
    <h1>Direktnachrichten verstehen</h1>
    <br><br>
    <div class="box">
        <p>Wer kann diese Funktion benutzen?</p>
        <p>-Alle Mitglieder und Gäste</p>
        <p>-Verfügbar für alle Pläne</p>
    </div>
<br><br>
    <h2>Was du wissen solltest</h2>
    <li>DMs können zwischen zwei Personen stattfinden oder mit bis zu neun Leuten.</li>
    <li>Das Starten und Senden von DMs geht genauso wie das Schreiben jeder anderen Nachricht in Slack. Erfahre mehr darüber, wie du Nachrichten senden und lesen kannst.</li>
    <li>Wenn dein Unternehmen Slack Connect verwendet, kannst du DMs an Personen aus anderen Unternehmen senden.</li>
</div>