<div class="wholeDiv">
    <h1>Benachrichtigungen konfigurieren</h1>
    <br><br>
    <p>Mit den Benachrichtigungen in Slack bleibst du stets über die Arbeit auf dem Laufenden,
        die dir wichtig ist, egal ob du am Schreibtisch sitzt oder unterwegs bist.
        Du kannst deine Benachrichtigungen auf dem Desktop,
        auf Mobilgeräten und per E-Mail individuell anpassen,
        indem du die folgenden Schritte befolgst.</p>

    <div class="tipp">
        <p> Tipp: <br>In EchoSphere kannst du jederzeit schnell eine neue Direktnachricht starten, indem du auf die
            Schaltfläche 'Nachrichten' klickst oder tippst..</p>
    </div>
    <h2>Auslöser für Benachrichtigungen anpassen</h2>
    <p>Standardmäßig werden in Slack nur Direktnachrichten (DMs), 
        Erwähnungen und bestimmte Schlüsselwörter für Benachrichtigungen verwendet. 
        Du hast jedoch die Möglichkeit, deine persönlichen Einstellungen anzupassen, 
        um entweder bei allen neuen Nachrichten in Unterhaltungen, 
        an denen du beteiligt bist, benachrichtigt zu werden oder gar keine 
        Benachrichtigungen zu erhalten.</p>
</div>