<div *ngIf="visible" class="infoBox">

    <h2 mat-dialog-title>Support-Themen</h2>
    <video autoplay loop src="../assets/video/video2.mp4"></video>

    <a routerLink="/directMessages">
        <button><img src="../assets/img/Direktnachrichten.png">Direct Messages</button>
    </a>
    <a routerLink="/configureNotifications">
        <button><img src="../assets/img/configureNotifications.png">Configure Notifications</button>
    </a>
    <a routerLink="/status">
        <button><img src="../assets/img/Status.png">Set status and availability</button>    
    </a>
    <a routerLink="/set-up-reminders">
        <button><img src="../assets/img/set-up-reminders.png">Set up reminders</button>
    </a>
    <a routerLink="/imprint">
        <button><img src="../assets/img/Impressum.png">Imprint and data protection</button>
    </a>
    <button (click)="closeDialog()"><img src="../assets/img/Close.png">Close</button>
</div>