<div *ngIf="visible" class="infoBox">

    <h2 mat-dialog-title>Support-Themen</h2>
    <video autoplay loop src="../assets/video/video2.mp4"></video>

    <a routerLink="/direktnachrichten">
        <button><img src="../assets/img/Direktnachrichten.png">Direktnachrichten verstehen</button>
    </a>
    <a routerLink="/benachrichtigungen">
        <button><img src="../assets/img/Benachrichtigungen.png">Benachrichtigungen konfigurieren</button>
    </a>
    <a routerLink="/status">
        <button><img src="../assets/img/Status.png">Status und Verfügbarkeit einstellen</button>    
    </a>
    <a routerLink="/erinnerungen">
        <button><img src="../assets/img/Erinnerungen.png">Erinnerungen einrichten</button>
    </a>
    <a routerLink="/impressum">
        <button><img src="../assets/img/Impressum.png">Impressum und Datenschutz</button>
    </a>
    <a routerLink="/chat">
        <button (click)="closeDialog()"><img src="../assets/img/Close.png">Close</button>
    </a>
</div>