<div *ngIf="visible" class="infoBox">

    <h2 mat-dialog-title>Support-Themen</h2>
    <video  autoplay loop src="../assets/video/Präsentation1.mp4"></video>

   


  
    <mat-dialog-content class="mat-typography">
        <button (click)="openDirektnachrichten()"><img src="../assets/img/Direktnachrichten.png">Direktnachrichten verstehen</button>
        <button (click)="openBenachrichtigungen()"><img src="../assets/img/Benachrichtigungen.png" >Benachrichtigungen konfigurieren</button>
        <button (click)="openStatus()"><img src="../assets/img/Status.png" >Status und Verfügbarkeit einstellen</button>
        <button (click)="openErinnerungen()"><img src="../assets/img/Erinnerungen.png" >Erinnerungen einrichten</button>
        <button (click)="openImpressum()"><img src="../assets/img/Impressum.png" >Impressum und Datenschutz</button>
        <button (click)="closeDialog()"><img src="../assets/img/Close.png" >Close</button>
    </mat-dialog-content>
</div>
