// import globale style
@import "src/_globals.scss";


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

mat-expansion-panel-header:hover {
    background-color: unset !important;
}

.mat-toolbar, .mat-expansion-panel{
    background-color: $background;
    color: $color-text;
    border-bottom: 1px solid $accent-darkgrey;
}

mat-panel-title{
    color: $color-text;
}

mat-drawer-container{
    background-color: $accent-darkgrey;
    color: $color-text;
}

mat-drawer-content {
    margin-left: 100px;
}

.mat-drawer-container{
    height: 100vh;
}

.mat-toolbar{
    min-height:3.5rem;
    height: 3.5rem;
}

.menu-icon{
    cursor: pointer;
}
.sidenav{
    width:18.75rem;
    background-color: $background;
    color: $color-text;
   
}
.logo-container{
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 0 1rem;
    min-height:3.5rem;
    display: flex;
    align-items: center;
}

.icon-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
        padding: 0 1rem;
        display: flex;
        align-items: center;
        height: 3rem;
        cursor: pointer;
        &:hover{
            background-color: $accent-darkgrey;
        }

        mat-icon{
            margin-right: 1rem;
        }

    }
}
// Positioning from main content  between header and navbar
main{
    padding: 0 10% 0 10%;
    padding-top: 2rem;
    @media (min-width: 768px) {
        padding-left: 3.5rem;
    }
    
}

.content{
    margin-top: 3rem;
    overflow-y: auto;
}