@use 'src/styles' as g;

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}


.mat-toolbar, .mat-expansion-panel{
    background-color: g.$background;
    color: g.$color-text;
    border-bottom: 1px solid g.$accent-darkgrey;
}

mat-panel-title{
    color: g.$color-text;
}

mat-drawer-container{
    background-color: g.$accent-darkgrey;
    color: g.$color-text;
}

mat-drawer-content {
    margin-left: 100px;
}

.mat-drawer-container{
    height: 100vh;
}

.mat-toolbar{
    min-height:3.5rem;
    height: 3.5rem;
}

.menu-icon{
    cursor: pointer;
}
.sidenav{
    width:18.75rem;
    background-color: g.$background;
    color: g.$color-text;
   
}
.logo-container{
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 0 1rem;
    min-height:3.5rem;
    display: flex;
    align-items: center;
}

.icon-menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
        padding: 0 1rem;
        display: flex;
        align-items: center;
        height: 3rem;
        cursor: pointer;
        &:hover{
            background-color: rgba(0,0,0,.04);
        }

        mat-icon{
            margin-right: 1rem;
        }

    }
}

main{
    padding-left: 3.5rem;
    padding-top: 1rem;
    // max-height: calc(100vh - 3.5rem);
}

.content{
    margin-top: 3rem;
    overflow-y: auto;
}