
    <header>
       <mat-toolbar>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">{{ this.drawer.opened ? 'close' : 'menu' }}</mat-icon>
         <span>Slack</span>
      </mat-toolbar>
    </header>


<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="!isMobileView" [mode]="isMobileView ? 'over' : 'side'">
    <div class="logo-container">Platz für Logo </div>
    <ul class="icon-menu">
      <li routerLink="/chat" (click)="onLinkClicked()"><mat-icon>forum</mat-icon> Threads</li>
      <li routerLink="/users" (click)="onLinkClicked()"> <mat-icon>group</mat-icon>Users</li>
      <mat-divider></mat-divider>

    <mat-accordion>
        <mat-expansion-panel class="test"(opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false" hideToggle>
          <mat-expansion-panel-header class="expansion-header">
            <mat-panel-title class="expansion-panel">
              <mat-icon>{{ panelOpenState1 ? 'arrow_drop_down' : 'arrow_right' }}</mat-icon>
              Channels
            </mat-panel-title>
          </mat-expansion-panel-header>
        
          <p>Render Component all Channels</p>
          <div class="channel-item" (click)="openDialog('400ms', '400ms')"><mat-icon>add</mat-icon> Create new channel</div>
          
        </mat-expansion-panel>

               <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false" hideToggle>
          <mat-expansion-panel-header class="expansion-header">
            <mat-panel-title class="expansion-panel">
              <mat-icon>{{ panelOpenState2 ? 'arrow_drop_down' : 'arrow_right' }}</mat-icon>
              Direct Messages
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Render Component DirectMessages </p>
        </mat-expansion-panel>
    </mat-accordion>

    </ul>

  </mat-drawer>

  <div class="content">

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

</mat-drawer-container>

