<div class="wholeDiv">
    <h1>Erinnerungen einrichten</h1>
    <br>
    <div class="box">
        <p>Wer kann diese Funktion benutzen? <br>
            -Alle Mitglieder, außer Gäste, können nur für sich selbst Erinnerungen einrichten <br>
            -Verfügbar für alle Pläne</p>
    </div>
    <br>
    <p>Indem du in EchoSpehere Erinnerungen einstellst, wirst du an bestimmte Aufgaben erinnert, die du erledigen musst.
        Du
        kannst das Aktionsmenü verwenden, um Erinnerungen für dich selbst oder für einen Channel zu erstellen.
        Alternativ
        kannst du das Menü 'Weitere Aktionen' nutzen, um Erinnerungen für bestimmte Nachrichten zu erstellen, auf die du
        später zurückkommen möchtest.
    </p>

    <div class="box">
        <p>
            Hinweis: <br> Du hast die Möglichkeit, Erinnerungen in deiner bevorzugten Sprache zu erstellen, aber wir
            empfehlen die Verwendung des englischen (USA) Datums- und Zeitformats. Wenn du Erinnerungen in einem Channel
            einstellst, solltest du die Zeitzonen aller Personen berücksichtigen, die benachrichtigt werden sollen.
        </p>
    </div>
</div>