<div class="signup-main">
    <div class="logo">
        <img src="assets/img/slack-logo-brand.png" alt="Slack Clon Logo">
    </div>

    <div class="signup-container">
        <mat-card>
            <h1>Sign up</h1>
            <!-- <span>Stay connected with your friends and colleagues</span> -->
            <div class="signup-form">
                
                <div class="input-container">
                    <div class="input" [class.errorBorder]="errorUsername">
                        <input type="text" #usernameSignUp required [(ngModel)]="firestoreUser.user.username"
                            (keydown)="signUpKey($event)" maxlength="30">
                        <span>Username</span>
                    </div>
                    <span class="errorTxt">{{ errorNameTxt }}</span>
                    
                    <div class="input" [class.errorBorder]="errorEmail">
                        <input type="string" #emailSignUp required (keydown)="signUpKey($event)"
                             maxlength="256"> <!-- [(ngModel)]="user.email" -->
                        <span>Email</span>
                    </div>
                    <span class="errorTxt">{{ errorEmailTxt }}</span>

                    <div class="input input-pwd" [class.errorBorder]="errorPwd">
                        <input type="password" #passwordSignUp required maxlength="30"
                            (keydown)="signUpKey($event)" (select)="onSelect($event)">
                        <span>Password</span>
                        <img class="show-pwd noselect" (click)="toggleShowPwd(false)"
                            [src]="pwdImg">
                    </div>
                    <span class="errorTxt">{{ errorPwdTxt }}</span>

                    <div class="input input-pwd" [class.errorBorder]="errorPwdRepeat">
                        <input (focusout)="valPwdRepeat(passwordSignUp.value, passwordRepeat.value)"
                            type="password" #passwordRepeat required maxlength="30"
                            (keydown)="signUpKey($event)" (select)="onSelect($event)">
                        <span>repeat Password</span>
                        <img class="show-pwd noselect" (click)="toggleShowPwd(true)"
                            [src]="pwdRepeatImg">
                    </div>
                    <span class="errorTxt">{{ errorPwdRepeatTxt }}</span>
                </div>

                <button id="signUpBtn"
                    (click)="signUp(emailSignUp.value.toLowerCase(), passwordSignUp.value, passwordRepeat.value, usernameSignUp.value)">
                    Sign up
                </button>
            </div>

            <button style="height: 50px; font-size: 24px; background-color: red; margin-top: 20px;"
                 (click)="firestoreUser.getFirestoreUser()">get db users in console</button>

        </mat-card>
    
        <span class="sign-up">
            Already a Slack-Clone account? <a href="sign-in">Sign in</a>
        </span>
    </div>
</div>