<!-- TODO simple placeholder text, will be replaced by a real welcome message, maybe with personal greeting and english version -->
<section>
    <p>Placeholder Dummy Text (Inhalt besprechen und in English):</p>
<h1>Herzlich willkommen bei Slack-Clone!</h1>

<p>Wir freuen uns sehr, Sie als neues Mitglied in unserer Community begrüßen zu dürfen. Slack-Clone ist eine Plattform, die es Ihnen ermöglicht, nahtlos mit anderen Benutzern zu kommunizieren, Informationen auszutauschen und zusammenzuarbeiten - ähnlich wie beim Slack-Chat-Programm.
</p>

Mit Slack-Clone können Sie folgende Funktionen nutzen:
<ul>
    <li>Erstellen Sie Chats und nehmen Sie an Gruppenkonversationen teil: Treten Sie verschiedenen Channels bei, um sich mit anderen Benutzern zu spezifischen Themen auszutauschen und gemeinsam an Projekten zu arbeiten.</li>
    <li>Senden Sie Direktnachrichten: Starten Sie private Unterhaltungen mit einzelnen Benutzern, um 1:1-Kommunikation zu führen oder Dateien auszutauschen.</li>
    <li>Teilen und Verwalten von Dateien: Laden Sie Dokumente, Bilder, Videos und andere Dateien hoch, um sie mit anderen zu teilen und gemeinsam daran zu arbeiten.</li>
    <li>Einschränkung der Datenverarbeitung: Sofern gesetzliche Bestimmungen dies erlauben, können Sie die Verarbeitung Ihrer Daten einschränken (Art. 18 DSGVO).</li>
    <li>Erhalten Sie Benachrichtigungen und Ankündigungen: Bleiben Sie immer auf dem Laufenden über neue Nachrichten, Erwähnungen und wichtige Ankündigungen, damit Sie nichts verpassen.</li>
    <li>Nutzen Sie Anpassungen und Integrationen: Passen Sie Ihr Benutzererlebnis an und integrieren Sie andere Tools und Dienste, um Ihre Arbeit effizienter zu gestalten.</li>
</ul>

Wir hoffen, dass Ihnen Slack-Clone gefällt und die Vorteile der Plattform hilfreich sind. Falls Sie Fragen haben oder Unterstützung benötigen, zögern Sie bitte nicht, uns zu kontaktieren. 

<p>Viel Spass beim Verwenden von Slack-Clone!</p>


Ihr Slack-Clone-Team


</section>
