<div class="setUser">
    <h1>Profil</h1>
    <!-- <img src="{{ authentication.user?.photoURL }}"> -->
    <div>
        <div style="display: flex; justify-content: center;">
            <img class="img" src="../assets\img/carmen.png" alt="">
        </div>

     
            <div class="box">
                <h2>Usernamezsjzsjzusjuskj <br> <button>Bearbeiten</button></h2>
                <!-- <h2>{{}} <br> <button (click)="xy">Bearbeiten</button></h2> -->
                <h2>mail@EchoSphere.de<br><button>Bearbeiten</button></h2>
                <h2>Pinn <br> <button>Bearbeiten</button></h2>
            </div>
    
    </div>
</div>