@import "src/_globals.scss";
section{
         background: $background-second
         
}
h2{
 margin:0;
   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding: 10px 0;
}