<section>
    <div>
        <h1>Invite people to {{ appComponentContent.title }}</h1>
    </div>

    <div class="">
        <h3>To:</h3>
        <input type="text">
        <br>
        <div class="copy-link"><a (click)="copyInviteLink()">Copy invite link</a></div>
    </div>

    <!-- <div> -->
        <div mat-dialog-actions class="btn-close-send">
            <button mat-button mat-dialog-close>Close</button>
            <button mat-button>Send</button>
        </div>
    <!-- </div> -->

</section>
